# Ignore backend virtual environments
backend/d_venv/
backend/venv/
d_venv/
venv/

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
.vscode/
.idea/
*.log
*.pyc
*.log
.DS_Store


# Model weights / caches
models/
transformers_cache/
hf_cache/
cache/

# Uploaded encrypted files and secrets
uploads/
*.enc
firebase_private_key.json
*.pem
*.key

# Dependency directories
/node_modules
/frontend/node_modules